/* restear los estilos */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Insercion de fuentes locales */

@font-face {
    font-family: "grandeItalic";
    src: url("../fonts/Grande\ Italic.ttf");
}

@font-face {
    font-family: "garetbook";
    src: url("../fonts/Garet-Book.ttf");
}

@font-face {
    font-family: "garetheavy";
    src: url("../fonts/Garet-Heavy.ttf");
}

@font-face {
    font-family: "hs";
    src: url("../fonts/High\ Spirited.ttf");
}

/* Estilos para el INDEX */

.ibody{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 5vh;
    background-color: rgb(247, 242, 243);
}

/* Estilos para el titulo */

.headerIndex__titulo{
    font-family: garetbook;
    font-size: 2.4rem;
}

.headerIndex__titulo a,
.headerIndex__titulo a:link,
.headerIndex__titulo a:visited{
    text-decoration: none;
    color: gray;
}

/* Estilos para el main */

.imain{
    width: 100vw;
    background-color: rgb(213, 197, 199);
    display: flex;
    justify-content: center;
}

.mainIndex__imagen{
    margin: 0;
    contain: content;
}

.mainIndex__imagen img{
    width: auto;
    height: 25rem;
}

/* Estilos para el footer */

.ifooter{
    align-self: flex-end;
    margin-right: 10vw;
}

.footer__titulo{
    font-family: garetbook;
}

.footer__titulo a,
.footer__titulo a:link,
.footer__titulo a:visited{
    text-decoration: none;
    color: gray;
}

.footer__iconos{
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
}

.footer__iconos figure img{
    height: 1.25rem;
    width: 1.25rem;
}

/* Estilos para el resto de headers */

.barra__header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(213, 197, 199);
    z-index: 1;
    height: 7.2rem;
    border-bottom: 3px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.barra__header--titulo a img{
    height: calc(7.2rem - 3px);
    width: auto;
}

.barra__header--menu{
    margin-bottom: 1.2vh;
    margin-right: 0.3vw;
}

#check,
.checkbtn{
    display: none;
}

.barra__header--menu ul{
    display: flex;
    justify-content: space-evenly;
}

.barra__header--menu ul li{
    list-style-type: none;
}

.barra__header--menu ul li a{
    margin: 0 1.2vw;
    text-align: center;
    text-decoration: underline bottom;
    color: gray;
    font-size: 2.2rem;
    font-family: garetbook;
}

/* Estilos para el resto de footers */

.rfooter{
    background-color: rgb(213, 197, 199) ;
    height: 7.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2vw;
    padding-top: 1.2vw;

}

.footer__titulohm{
    font-family: garetbook;
}

.footer__titulohm a,
.footer__titulohm a:link,
.footer__titulohm a:visited{
    text-decoration: none;
    color: gray;
}

.rfooter__iconos{
    margin-top: 1vh;
    display: flex;
    justify-content: space-evenly;
    width: 5vw;
}

.rfooter__iconos figure img{
    height: 1.25rem;
    width: 1.25rem;
}

/* Estilos para la página HOME */

.home__main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 3px solid grey;
    overflow: hidden;
    background-color: rgb(247, 242, 243);
}

.h__main {
    height: 52vh;
    background-color: rgb(205, 158, 155) ;
    box-shadow: 1px 5px 25px rgb(213, 197, 199);
    display: grid;
    grid-template-columns: 3fr 5fr;
    justify-items: center;
    align-items: center;
}

.h__main--figure figcaption{
    position: absolute;
    font-family: hs;
    font-size: 2rem;
    color: white;
    margin: 0 60px;
}

.h__main--imagen{
    width: 32vw;
    border-radius: 5%;
}

.h__main--texto{
    text-align: center;
    width: 55vw;
}

.h__main--texto h2{
    font-family: hs;
    font-size: 3.5rem;
    color: white;
}

.h__main--texto p{
    text-align: justify;
    font-family: garetbook;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
}

/*_____________________________________________________________*/

    /* Query para tablets */

    @media screen and (max-width:1023px){
        
        /* Estilos para el resto de headers */

        .barra__header{
            height: 7rem;
        }

        .barra__header--titulo a img{
            height: calc(7rem - 3px);
        }

        .barra__header--menu ul li a{
            font-size: 1.7rem;
        }

        /* Estilos para el resto de footers */

        .rfooter__iconos{
            width: 15vw;
        }

        .rfooter__iconos figure img{
            height: 1.25rem;
            width: 1.25rem;
        }

        /* Estilos para la página HOME */

        .h__main {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2.5fr;
            row-gap: 0;
        }

        .h__main--figure figcaption{
            font-size: 2rem;
        }
        
        .h__main--imagen{
            width: 65vw;
        }
        
        .h__main--texto{
            width: 75vw;
            order: -1;
        }
        
        .h__main--texto h2{
            font-size: 8vw;
        }
        
        .h__main--texto p{
            font-size: 2.2vw;
        }

        
    }


/*_____________________________________________________________*/

    /* Query para celulares */

    @media screen and (max-width:750px){

    /* Estilos para el INDEX */
    /* Estilos para el titulo */

    .headerIndex__titulo{
        font-size: 8vw;
    }

    /* Estilos para el main */

    .mainIndex__imagen img{
        width: 100vw;
        height: auto;
    }

    /* Estilos para el footer */

    .ifooter{
        align-self: center;
        margin-right: 0;
    }

    .footer__titulo{
        font-size: 7vw;
    }

    .footer__titulo a,
    .footer__titulo a:link,
    .footer__titulo a:visited{
        text-decoration: none;
        color: gray;
    }

    .footer__iconos{
        margin-top: 1vh;
        display: flex;
        justify-content: space-evenly;
    }

    .footer__iconos figure img{
        height: 6vw;
        width: 6vw;
    }

    /* Estilos para el resto de headers */

    .barra__header{
        height: 5rem;
        justify-content: space-between;
        align-items: center;
    }

    .barra__header--titulo a img{
        height: calc(5rem - 3px);
    }

    .barra__header--menu{
        padding-top: 1rem;
        margin-right: 1vw;
    }

    .checkbtn{
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 1vw;
    }

    .checkbtn img{
        height: 2.5rem;
    }

    .barra__header--menu ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        left: 500vw;
        top: 5rem;
        width: 100vw;
        height: 40vh;
        text-align: center;
        transition: all .4s ease-in-out;
        background-color: rgb(213, 197, 199);
        z-index: 1;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .barra__header--menu ul li a{
        text-transform: uppercase;
        font-weight: bolder;
        text-decoration: none;
        font-size: 7vw;
    }

    /* Estilos para el resto de footers */

    .rfooter{
        height: 5.5rem;
        display: flex;
        align-items: center;
        padding-right: 0;
        padding-top: 1.5vw;
    
    }
    
    .rfooter__iconos{
        width: 45vw;
    }

    /* Estilos para la página HOME */

    .h__main {
        grid-template-rows: 1fr 2.7fr;
    }

    .h__main--figure figcaption{
        font-size: 7vw;
        margin: 0;
    }
    
    .h__main--imagen{
        width: 100vw;
        border-radius: 0;
    }
    
    .h__main--texto{
        width: 95vw;
    }
    
    .h__main--texto h2{
        font-size: 12.5vw;
    }
    
    .h__main--texto p{
        font-size: 3vw;
    }

    }

    /*Animaciones*/

    .headerIndex__titulo{
        animation: heartBeat;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }